<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.NettyApplication.mapper.HardWareMapper">



    <select id="selectActivitiesByUserId" resultType="java.util.Map">
        select control.*,ware.state as sate1,ware.id id1,ware.number number1 from t_hard_ware_control control
                                                                                      left join t_hard_ware ware on control.id =ware.control_id
    </select>

</mapper>
